.crear-actividad{
    display: flex;
    flex-direction: column;
}

.crear-actividad input{
    border-radius: 5px;
    border: 0;
    background-color: rgb(119, 119, 119);
    width: 200px;
    margin-left: 10px;
}

.crear-actividad h1 {
    margin-top: 50px;
    display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 48px/normal 'Dancing Script', cursive;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.crear-actividad label{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #00ffff;
    font-weight:bolder
}

.crear-actividad .contenedor-form{
    display: flex;
    align-self: center;
}

.crear-actividad .contenedor-form div{
    
    height: 50px;
}

.crear-actividad .hola {
    height: 30px;
    margin: auto;
    display: block;
    border-color: #00ffff;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(45deg, #6dd6d6 50%, transparent 50%);
    background-image: linear-gradient(45deg, #6dd6d6 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    margin-top: 30px;
}